<h3>User Profile</h3>
<h5><strong>Nickname:</strong>{{profile?.nickname}}</h5>
	<div class="row">
			<div class="col-md-2">
		<img src="{{profile?.picture}}" alt="Avatar" class="thumbnail" style="width:100%">
			</div>
			<div class="col-md-10">
				<ul class="list-group">
					<li class="list-group item"><strong>Email:</strong>{{profile?.name}}</li>
					<li class="list-group item"><strong>Profile Updated:</strong>{{profile?.updated_at}}</li>
					<li><pre class="full-profile">{{ profile | json }}</pre></li>
				</ul>
			</div>
	</div>
